<!--This page allows you to create a new employee-->

    <body>
        <div>
        <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Create New Employee Profile</h1>

        <form action="/employees/signup" method="POST">
            <label>Name: </label>
            <input type="text" name="employee[name]" id="employee_name" placeholder="Enter First and Last Name" required>
            <br>
            <label>Department: </label>
            <!-- potentially abstract later -->
                <select name="employee[department]" id="employee_department">
                <option value="Select Department" selected disabled hidden>--Select Department--</option>
                <option value="Accounting">Accounting</option>
                <option value="Human Resources">Human Resources</option>
                <option value="Administration">Administration</option>
                <option value="Research">Research</option>
                <option value="Marketing">Marketing</option>
                <option value="Production">Production</option>
                <option value="Sales">Sales</option>
                </select>
            <br>
            <label>Manager: </label>
                <select name="employee[manager]" id="employee_manager">
                    <option value="Select Manager" selected disabled hidden>--Select Manager--</option>
                <% Manager.all.each do |manager| %>
                    <option value="<%= manager.slug %>"><%= manager.name %><br>
                <% end %>
                </select>
            <br>
            <label>Title: </label>
            <input type="text" name="employee[title]" id="employee_title" placeholder="Enter Job Title" required>
            <br>
            <label>Email: </label>
            <input type="email" name="employee[email]" id="employee_email" placeholder="Enter Email Address" required>
            <br>
            <label>Password: </label>
            <input type="password" name="employee[password]" id="employee_password" placeholder="Create Your Password" required>
            <br>
            <input type="submit" value="Submit">

        
        </form>
        </div>

