<!DOCTYPE html>
<html>

<!-- This page will show a list of all employees with links to their individual info pages. -->
    <head>

    </head>

    <body>
        <% if employee_logged_in? %>
            <header>Logged in as <%= current_employee.email %></header>
        <% elsif manager_logged_in? %>
            <header>Logged in as <%= current_manager.email %></header>
        <% end %>
        <h1>Employees:</h1>
        <br>
        <ul>
        <% @employees.each do |employee| %>
            <li><a href="/employees/<%= employee.slug %>"><%= employee.name %></a></li><br>
        <% end %>
        </ul>


        <footer>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
        </footer>
    </body>
</html>