<!DOCTYPE html>
<html>
    <!-- This page will allow an employee to log in. -->
    <head>
    
    </head>

    <body>
        <h1>Employee Login</h1>
        <br>
        <form method="POST" action="/employees/login">
            <label>Email: </label>
            <input type="email" name="employee[email]" placeholder="Enter Email Address">
            <br>
            <label>Password: </label>
            <input type="password" name="employee[password]" placeholder="Enter Password">
            <br>
            <input type="submit" value="Log In">
        </form>

        <footer>
        <a href="/managers/login">Manager Login</a>
        </footer>
    </body>

</html>