<!-- This page allows an employee to log in. -->

        <div>
        <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Employee Login</h1>
        <br>
        <form method="POST" action="/employees/login">
            <label>Email: </label>
            <input type="email" name="employee[email]" placeholder="Enter Email Address">
            <br>
            <label>Password: </label>
            <input type="password" name="employee[password]" placeholder="Enter Password">
            <br>
            <input type="submit" value="Log In">
        </form>
        </div>

        <footer>
        <a href="/managers/login">Manager Login</a>
        <a href="/employees/signup">Create New Employee Account</a>
        <a href="/managers/signup">Create New Manager Account</a>
        </footer>


