

body {
    background-color: darkcyan;
    font-family: 'Montserrat', sans-serif;
}

div {
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

div form {
    display: inline-block;
    text-align: left;
}

a:link {
    color: midnightblue;
}

a:visited {
    color: rebeccapurple;
}

ul#list {
    list-style-type: none;
    display: contents;
    text-align: center;
    list-style-position: inside;
}


footer {
    text-align: center;
    padding: 20px;
}

footer a {
    margin-right: 15px;
}