<!DOCTYPE html>
<html>
    <!-- This page will allow a manager to log in. -->
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: darkcyan;
                font-family: 'Montserrat', sans-serif;
            }

            div {
                background-color: darkgrey;
                border: 1px solid black;
                border-radius: 8px;
                text-align: center;
            }

            a:link {
                color: midnightblue;
            }

            a:visited {
                color: rebeccapurple;
            }

            footer {
                text-align: center;
                padding: 20px;
                display: block;
            }

            footer a {
                margin-right: 15px;
            }
        </style>
    </head>

    <body>
        <div>
        <h1>Manager Login</h1>
        <br>
        <form method="POST" action="/managers/login">
            <label>Email: </label>
            <input type="email" name="manager[email]" placeholder="Enter Email Address">
            <br>
            <label>Password: </label>
            <input type="password" name="manager[password]" placeholder="Enter Password">
            <br>
            <input type="submit" value="Log In">
        </form>
        </div>

        <footer>
        <a href="/employees/login">Employee Login</a>
        <a href="/employees/signup">Create New Employee Account</a>
        <a href="/managers/signup">Create New Manager Account</a>
        </footer>
    </body>

</html>