<!DOCTYPE html>
<html>
    <!-- This page will allow a manager to log in. -->
    <head>
    
    </head>

    <body>
        <h1>Manager Login</h1>
        <br>
        <form method="POST" action="/managers/login">
            <label>Email: </label>
            <input type="email" name="manager[email]" placeholder="Enter Email Address">
            <br>
            <label>Password: </label>
            <input type="password" name="manager[password]" placeholder="Enter Password">
            <br>
            <input type="submit" value="Log In">
        </form>
    </body>

</html>