<!DOCTYPE html>
<html>
    <!-- This page will allow a manager to log in. -->
    <head>
    
    </head>

    <body>
        <h1>Manager Login</h1>
        <br>
        <form method="post" action="/login">
            <label>Email: </label>
            <input type="text" name="manager[email]" placeholder="Enter Email Address">
            <input type="text" name="manager[password]" placeholder="Enter Password">
            <br>
            <input type="submit" value="submit">
        </form>
    </body>

</html>