<!DOCTYPE html>
<html>
    <!-- This page will show a list of all managers with links to each manager's info page. -->
    <head>
    
    </head>

    <body>
        <% if manager_logged_in? %>
            <header>Logged in as <%= current_manager.email %></header>
        <% elsif employee_logged_in? %>
            <header>Logged in as <%= current_employee.email %></header>
        <% end %>

        <h1>Managers:</h1>
        <br>
        <ul>
        <% @managers.each do |manager| %>
            <li><a href="/managers/<%= manager.slug %>"><%= manager.name %></a></li><br>
        <% end %>
        </ul>

        <footer>
            <a href="/employees">Employees List</a>
            <a href="/logout">Log Out</a>
        </footer>
    </body>

</html>