<!DOCTYPE html>
<html>
    <!-- This page will show a list of all managers with links to each manager's info page. -->
    <head>
    
    </head>

    <body>
        <h1>Managers:</h1>
        <br>
        <ul>
        <% @managers.each do |manager| %>
            <li><a href="/managers/<%= manager.slug %>"><%= manager.name %></a></li><br>
        <% end %>
        </ul>

        <footer>
            <a href="/managers/logout">Log Out</a>
        </footer>
    </body>

</html>