<!DOCTYPE html>
<html>
    <!-- This file will show redirect options. -->
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div>
        <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Welcome to the Work Zone Task Manager!</h1>
        <h2>Please log in or create an account to get started</h2>
        <h3><a href="/managers/login">Manager Login</a></h3>
        <h3><a href="/employees/login">Employee Login</a></h3>
        <br>
        <h3><a href="/managers/signup">Create New Manager Account</a></h3>
        <h3><a href="/employees/signup">Create New Employee Account</a></h3></div>
    </body>

</html>